INFURA_URI=wss://mainnet.infura.io/ws/v3/<<api key>>
LOCALHOST_URI=ws://localhost:8545
# for retrieving recent eth price
CRYPRO_COMPARE_APIKEY=
PRIVATE_KEY=
# for saving logs and tx results
MONGODB_PASSWORD=
# use mainnet or fork
MAINNET=false